body
{
    margin: 0;
}

.login-bg
{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;    
    background: url("images/case+study+background+jenzabar+final.png");
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.logo
{
    width: 40%;
    margin-right: 10%;

}

.card
{

    width: 350px;
    height: 600px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
}

.inner-box
{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card-front, .card-back
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(255, 255, 255, 0.04),rgba(255,255,255,0.04));
    padding: 55px;
    box-sizing: border-box;
    backface-visibility: hidden;
    text-align: center;
    vertical-align: middle;
}

.card-back
{
    transform: rotateY(180deg);
}

.card h2
{
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.input-box
{
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    margin: 6px 0;
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;
}

::placeholder
{
    color: #fff;
    font-size: 12px;
}


.submit-btn
{
    width: 100%;
    background: #000;;
    border: 1px solid #fff;
    margin: 35px 0 0;
    height: 32px;
    font-size: 12px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;
}

.btn-register
{
    width: 100%;
    background: #000;;
    border: 1px solid #fff;
    margin: 0 0 10px;
    height: 32px;
    font-size: 12px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;
}

.btn-login
{
    width: 100%;
    background: #000;
    border: 1px solid #fff;
    margin: 35px 0 10px;
    height: 32px;
    font-size: 12px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;
}

span
{
    font-size: 13px;
    margin-left: 10px;
}

.card .btn
{
    margin-top: 70px;
}

.card a
{
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 13px;
    margin-top: 8px;

}

.logged
{
    margin-top: 10px;
}

@media(max-width: 1140px)
{
    .logo
    {
        display: none;
    }
}

/* Homepage */

.nav-logo
{
    height: 40px;
}

.homepage-bg
{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;    
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0,0,0,0.4)), url("images/BackgroundNoiseStudy.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-edit
{
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.5);
}

.navbar-nav
{
    font-family: 'Playfair Display', serif;
    font-size: larger;
    text-decoration-color: #fff;
}

.nav-link
{
    padding-left: 4%;
}

.tagline
{
    justify-content: center;
    text-align: center;
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    line-height: 4rem;
}

.light-div
{
    background-color: rgb(231, 226, 226);
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding-top: 10px;
    padding-right: 100px;
    padding-left: 100px;
}

.about
{
    transform: rotate(90 deg);
    font-family: 'Bebas Neue', cursive;
    
}

/* Resource Page  */

.resource-bg
{
    width: 100%;
    height: 37vh;
    font-family: sans-serif;    
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0,0,0,0.4)), url("images/BackgroundNoiseStudy.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.um-btn
{
    margin: 9% 0 6%;
    width: 100%;
}
/* Contact Us*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  background: #c8e8e9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: #5029bc;
}

@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}

/* Flip Card  */

.flip-card {
    margin: 10% 0 20%;
    background-color: transparent;
    width: 100%;
    height: 150px;
    perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0,0,0,0.4)), url("images/BackgroundNoiseStudy.jpg");
    color: white;
    text-align: center;
    font-size: 2rem;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.flip-card-back {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0,0,0,0.4)), url("images/BackgroundNoiseStudy.jpg");
    color: white;
    text-align: center;
    font-size: 2rem;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
}

.matcard
{
    align-items: center;
    justify-content: center;
}
